[build]
builder = "dockerfile"
dockerfilePath = "../../Dockerfile.web"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[service]
internalPort = 3000
