[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmd = "corepack enable && pnpm install --frozen-lockfile"

[phases.build]
cmd = "pnpm turbo run build --filter=@ccc/web"

[start]
cmd = "cd apps/web && pnpm start"
